site_name: Pixel&Wood Computing Science Tuition

theme:
  name: material
  font:
    text: Quicksand
  palette: 
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
  icon:
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.tabs.sticky
    - navigation.top
    - navigation.indexes 
    - navigation.path
    #- navigation.footer
    - navigation.tabs
#plugins:
  #- glightbox


markdown_extensions:
      - admonition
      - pymdownx.details
      - def_list
      - pymdownx.critic
      - pymdownx.caret
      - pymdownx.keys
      - pymdownx.mark
      - pymdownx.tilde
      - attr_list
      - md_in_html    
      - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg
      - pymdownx.superfences
      - pymdownx.tabbed:
          alternate_style: true
      - pymdownx.highlight:
          use_pygments: true
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
      - pymdownx.inlinehilite
      - pymdownx.snippets

copyright: Copyright &copy; 2025 Pixel&Wood Computer Science Tuition

extra_css:
  - Styles/extra.css

extra_javascript:
  - scripts/extra.js


nav:
  - Home: index.md
  - 01 - Software Development:
      - Development Methodologies: '1.0-Software-Development/1.1-Dev.Methodologies.md'
      - Analysis: '1.0-Software-Development/1.2-Analysis.md'
      - Design:
        - Data Types and Structures: '1.0-Software-Development/1.3.1-Data-Types-and-Structures.md'
        - Structure Diagrams: '1.0-Software-Development/1.3.2-Structure-Diagrams.md'
        - Flowcharts: '1.0-Software-Development/1.3.3-Flowcharts.md'
        - Pseudocode: '1.0-Software-Development/1.3.4-Pseudocode.md'
      - Evaluation:
        - Evaluation: '1.0-Software-Development/1.4-Evaluation.md'
        - Fitness for Purpose: '1.0-Software-Development/1.4.1-Fitness-for-Purpose.md'
        - Efficient use of Coding Constructs: '1.0-Software-Development/1.4.2-Efficient-use-of-Coding-Constructs.md'
        - Robustness: '1.0-Software-Development/1.4.3-Robustness.md'
        - Readability: '1.0-Software-Development/1.4.4-Readability.md'
        - Evaluation Summary: '1.0-Software-Development/1.4.5-Evaluation-Summary.md'
  - 02 - Programming:
      - Variables & Assignment:
        - Explanation: '2.0-Programming/2.1-Variables-&-Assignment/2.1.1-Variables-&-Assignment.md'
        - Exam Theory: '2.0-Programming/2.1-Variables-&-Assignment/2.1.2-Exam-Theory.md'
        - Program Design: '2.0-Programming/2.1-Variables-&-Assignment/2.1.3-Program-Design.md'
        - Python: '2.0-Programming/2.1-Variables-&-Assignment/2.1.4-Python.md'
      - Selection:
        - Theory: '2.0-Programming/2.2-Selection/2.2.1-Theory.md'
        - Design: '2.0-Programming/2.2-Selection/.md'
        - Practical: '2.0-Programming/2.2-Selection/2.2.3-Practical.md'
  - 03 - Evaluation:
        - Evaluation: '1.0-Software-Development/1.4-Evaluation.md'
        - Fitness for Purpose: '1.0-Software-Development/1.4.1-Fitness-for-Purpose.md'
        - Efficient use of Coding Constructs: '1.0-Software-Development/1.4.2-Efficient-use-of-Coding-Constructs.md'
        - Robustness: '1.0-Software-Development/1.4.3-Robustness.md'
        - Readability: '1.0-Software-Development/1.4.4-Readability.md'
        - Evaluation Summary: '1.0-Software-Development/1.4.5-Evaluation-Summary.md'
        
          
          
  #- Computer Systems:

      